* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
    
form {
    width: 600px;
}

fieldset {
    border: 2px solid #0d6efd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

legend {

    font-weight: bold;
    padding: 0 10px;
}

.tipoServicio {
    margin-top: 8px;
}

.tipoServicio i {
    font-size: 15px;
    margin-right: 8px;
    color: #0d6efd;
}

.DatosContacto {
    margin-top: 14px;
}

.DatosContacto label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.DatosContacto input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(13, 110, 253, 0.5);
    padding: 8px;
}

.DatosContacto input::placeholder {
    font-weight: 600;
    outline: none;
}


.grupo-navegacion {
    display: flex;
    justify-content: space-between;
}

.grupo-navegacion i {
    color: #0d6efd;
    font-size: 35px;
    margin-right: 10px;
    align-self: center;
}

.grupo-navegacion i:hover { 
    cursor: pointer;
    color: #084298;
}

button {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #084298;
}


.mesas-container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    /* 5 mesas por fila, cada una 80px */
    gap: 10px;
    /* espacio entre mesas */
    margin-top: 15px;
    margin-bottom: 15px;
}

.mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.mesa i {
    font-size: 32px;
    color: #007bff;
    /* azul Bootstrap */

}

