* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.tarjeta {
    width: 600px;
    height: 400px;
    perspective: 1000px;
    position: relative;
}

.tarjetaFrente,
.tarjetaTrasera {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d; 
    transition: transform 0.8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;

}

.tarjetaFrente {
    transform: rotateY(0deg);
}

.tarjetaTrasera {
    transform: rotateY(180deg);
}

/* CUANDO LA TARJETA SE GIRA */
.tarjeta.girada .tarjetaFrente {
    transform: rotateY(180deg);
}

.tarjeta.girada .tarjetaTrasera {
    transform: rotateY(360deg);
}





form {
    width: 600px;
}

fieldset {
    border: 2px solid #0d6efd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

legend {

    font-weight: bold;
    padding: 0 10px;
}

.tipoServicio {
    margin-top: 8px;
}

.tipoServicio i{
    font-size: 15px;
    margin-right: 8px;
    color: #0d6efd;
}

.DatosContacto {
    margin-top: 14px;
}

.DatosContacto label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.DatosContacto input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.DatosContacto input::placeholder {
    font-weight: 600;
    outline: none;
}


.prueba{
    display: flex;
    justify-content: space-between;
}
.prueba i{
    color: #0d6efd;
    font-size: 35px;
    margin-right: 10px;
    align-self: center;
}
.prueba i:hover{
    cursor: pointer;
    color: #084298;
}
button {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #084298;
}